* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Jura', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.navbar {
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar > .navbar-list {
    float: right;
    font-size: 1.25em;
    line-height: 2em;
    transition: margin-top 0.7s, background-color 0.7s;
}

.navbar > .navbar-list.scrolled {
    margin-top: 0;
    background-color: rgba(0,0,0,0.75);
}

.navbar > .navbar-list > .navbar-item {
    display: inline-block;
}

.navbar > .navbar-list > .navbar-item a {
    text-decoration: none;
    padding: 16px;
    color: white;
    display: block;
}

.navbar > .navbar-list > .navbar-item a:hover {
    font-weight: bold;
}

.navbar > .navbar-list > .navbar-item a > .underline-hover {
    border-bottom: 2px solid royalblue;
    margin-bottom: -1.9em;
    width: 0%;
}

.navbar > .navbar-list > .navbar-item.active a > .underline-hover {
    width: 100%;
}

.navbar > .navbar-list > .navbar-item a:hover > .underline-hover {
    width: 100%;
    transition: width 0.3s;
    -moz-transition: width 0.3s;
    -webkit-transition: width 0.3s;
}

.header > .header-img {
    background-image: url(../images/header.jpg);
    background-repeat: none;
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}

.header > .title {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 3em;
    text-transform: uppercase;
    color: white;
}

.header > .title span{
    text-transform: none;
    color: rgb(255, 65, 105);
    font-size: 0.4em;
}

.title-background {
    background-color: rgba(0, 0, 0, 0.6);
    width: auto;
    margin: 0 20%;
    box-shadow: 8px 8px rgba(65, 105, 225, 0.6);
}

.section-container {
    padding: 25px 0;
}

.section-reverse {
    background-color: rgba(65, 105, 225, 0.6);
    color: whitesmoke;
    margin-left: calc(-50vw + 50% );
    margin-right: calc(-50vw + 50% );
}

.who-i-am > article > .photo {
    float: left;
    position: relative;
}

.who-i-am > article > .photo > figure > .name {
    position: absolute;
    width: 250px;
    height: 0%;
    background-color: rgba(65, 105, 225, 0.6);
    bottom: 0;
    -webkit-margin-after: 1em;
}

.who-i-am > article > .photo > figure > .name p {
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.3em;
    visibility: hidden;
    transition: visivility 0 linear 1s;
}

.who-i-am > article > .photo > figure > img {
    max-width: 250px;
    border-radius: 100%;
}

.who-i-am > article > .photo > figure > img.animate {
    animation: imageAnimation 2s 0.5s forwards;
}

.who-i-am > article > .photo > figure > img:hover + .name, .who-i-am > article > .photo > figure > img + .name:hover  {
    animation: photoHoverAnimation 1s forwards;
}

.who-i-am > article > .photo > figure > img:hover + .name p, .who-i-am > article > .photo > figure > img + .name:hover p  {
    visibility: visible;
}

.who-i-am > article > .text {
    float: right;
}

.flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.footer {
    background-color: rgb(65, 105, 225);
    color: whitesmoke;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.underline {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}


input {
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: rgb(65, 105, 225);
    border: none;
    color: white;
    padding: 10px 40px;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 1.2em;
}

button:hover {
    background-color: rgb(50, 90, 210);
}

button[disabled] {
    opacity: 0.5;
}

.others {
    opacity: 0;
    height: 0;
}

.others.show {
    height: auto;
    animation: showInput 0.5s 0.1s forwards;
}

input.error,textarea.error {
    background-color: rgba(200,0,0,0.2);
}

#words.error {
    text-decoration: underline;
    color: red;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

#stars > input[type="radio"] {
    display: none;
} 

#stars > i {
    font-size: 1.5em;
    margin-left: 10px;
}

#stars > i.hover {
    display: none;
}

.alert {
    color: red;
    visibility: hidden;
}

.alert.show {
    visibility: visible;
}

@keyframes imageAnimation {
    0% {
        border-radius: 100%;
    }
    50% {
        border-radius: 50%;
        transform: scale(1.05);
    }
    100% {
        border-radius: 0%;
    }
}

@keyframes photoHoverAnimation {
    66% {
        height: 30%;
    }
    100% {
        height: 25%;
    }
}

@keyframes showInput {
    100% {
        opacity: 1;
    }
}